@model IEnumerable<ToDoList.Models.ToDoItem>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div class="block-items">
        @foreach (var item in Model)
        {
            <div class="list-item">
                <div class="container">
                    <div class="item-field">
                        @item.Title
                    </div>
                    <div class="item-field">
                        @item.DateTimeCreate.ToString("MM/dd/yyyy")
                    </div>
                    <div class="item-field">
                        @item.IsDone
                    </div>
                    <div class="item-field">
                        @item.DeadLineDate.ToString("MM/dd/yyyy")
                    </div>
                    <div class="item-field">
                        <a asp-controller="ToDoItem" asp-action="Remove" asp-route-id="@item.Id">Удалить</a>
                    </div>
                    <div class="item-field">
                        <a asp-controller="ToDoItem" asp-action="UpdateItem" asp-route-id="@item.Id">Изменить</a>
                    </div>
                </div>
            </div>  
        }
    </div>
</body>
</html>

